<html>
<head>
    <title>List of details</title>
    <link rel="stylesheet" href="../site_media/reset.css" type="text/css">
    <link rel="stylesheet" href="../site_media/style.css" type="text/css">
</head>
<body>

<span class="pagetitle">List of details</span>

<div class="mainform">
<div class="subform">
<div class="models">
  <span class="title">Models</span>
  <ul class="list">
    {% for model in model_list %}
    <li>{{ model.name }}: {{ model.description }}.
      <strong>See:</strong> {{ model.reference }}</li>
    {% endfor %}
  </ul>
</div>
</div>

<div class="subform">
<div class="users">
  <span class="title">Users</span>
  <ul class="list">
    {% for exp in user_list %}
    <li>{{ exp.by_user }}</li>
    {% endfor %}
  </ul>
</div>
</div>

<div class="subform">
<div class="hosts">
  <span class="title">Hosts</span>
  <ul class="list">
    {% for exp in host_list %}
    <li>{{ exp.on_host }}</li>
    {% endfor %}
  </ul>
</div>
</div>
</div>

</body>
</html>
