<html>
<head>
    <title>Available models</title>
    <link rel="stylesheet" href="../site_media/reset.css" type="text/css">
    <link rel="stylesheet" href="../site_media/style.css" type="text/css">
</head>
<body>

<span class="pagetitle">Available models</span>

<div class="mainform">
<div class="subform">
<div class="models">
  <span class="title">Models</span>
  <ul class="list">
    {% for model in object_list %}
    <li>{{ model.name }}: {{ model.description }}.
      <strong>See:</strong> {{ model.reference }}</li>
    {% endfor %}
  </ul>
</div>
</div>

</body>
</html>
