<html>
<head>
    <title>Find virtual individuals</title>
    <link rel="stylesheet" href="site_media/reset.css" type="text/css">
    <link rel="stylesheet" href="site_media/style.css" type="text/css">
</head>
<body>

<span class="pagetitle">Find virtual individuals</span>

<form action="/guyton/" method="post">{% csrf_token %}
  <div class="mainform">
  <div class="subform">
  <div class="conds">
    {{ cond_formset.management_form }}
    <span class="title">Patient Condition</span>
      {% for form in cond_formset.forms %}
      <ul>
        {{ form.as_ul }}
      </ul>
      {% endfor %}
    <input type="submit" name='add-cond' value="Add Condition" />
    <span class="remove">
    <input type="submit" name='del-cond' value="Remove Condition" />
    </span>
  </div>
  </div>
  </div>
  {% if matched %}
    <span class="title">{{ matched }} out of {{ total }} individuals match
      your query.</span><br/>
  {% endif %}
  <input type="submit" name='qry-cnt' value="Count Matches" />
  <input type="submit" name='qry-dl' value="Download Simulations" />
</form>

<pre>
{{ log_str }}
</pre>

</body>
</html>
