<html>
<head>
    <title>Find virtual individuals</title>
    <link rel="stylesheet" href="site_media/reset.css" type="text/css">
    <link rel="stylesheet" href="site_media/style.css" type="text/css">
</head>
<body>

<span class="pagetitle">Find virtual individuals</span>

<form action="/guyton/" method="post">{% csrf_token %}
  <div class="mainform">
  <div class="subform">
  <div class="params">
    {{ param_formset.management_form }}
    <span class="title">Parameter Constraints</span>
    <span class="info">(<a href="params" target="_blank">parameters</a>)</span>
      {% for form in param_formset.forms %}
      <ul>
        {{ form.as_ul }}
      </ul>
      {% endfor %}
    <input type="submit" name='form-submit' value="Add Parameter" />
    <span class="remove">
    <input type="submit" name='form-submit' value="Remove Parameters" />
    </span>
  </div>
  </div>
  <div class="subform">
  <div class="vars">
    {{ var_formset.management_form }}
    <span class="title">Variable Constraints</span>
    <span class="info">(<a href="vars" target="_blank">variables</a>)</span>
      {% for form in var_formset.forms %}
      <ul>
      {{ form.as_ul }}
      </ul>
      {% endfor %}
    <input type="submit" name='form-submit' value="Add Variable" />
    <span class="remove">
    <input type="submit" name='form-submit' value="Remove Variables" />
    </span>
  </div>
  </div>
  </div>
  {% if matched %}
    <span class="title">{{ matched }} out of {{ total }} individuals match
      your query.</span><br/>
  {% endif %}
  <input type="submit" name='form-submit' value="Count Matches" />
  <input type="submit" name='form-submit' value="Submit Query" />
</form>

<pre>
{{ log_str }}
</pre>

</body>
</html>
