<html>
<head>
    <title>List of details</title>
    <link rel="stylesheet" href="../../site_media/reset.css" type="text/css">
    <link rel="stylesheet" href="../../site_media/style.css" type="text/css">
</head>
<body>

<span class="pagetitle">Task Details</span>

<div class="mainform">

<div class="subform">
<div class="task">
  <span class="title">Status</span>
  <ul class="list">
    {% if task.is_finished %}
    <li><strong>Finished:</strong> <a href="{{ url }}">click here</a> to
    download the results.</li>

    <li><form action="" method="post">{% csrf_token %}
      <input type="submit" name="form-submit" value="Delete Results">
    </form></li>
    {% else %}
    <li><strong>Running</strong></li>
    {% endif %}
  </ul>
</div>
</div>

</div>

</body>
</html>
